.col {
  display: flex;
  justify-content: center;
}
.container {
  padding: 20px;
  justify-content: space-evenly;
}
.project {
  border: 1px red solid;
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  justify-content: space-evenly;
  padding: 20px 0px;
} 

.btn-tilt {
  transition: transform 300ms;
}

.btn-tilt:hover {
  transform: rotate(5deg);
  transform-origin: left top;
}
