.col {
  display: flex;
  justify-content: center;
}
.container {
  padding: 20px;
  justify-content: space-evenly;
}
.project {
  border: 1px red solid;
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  justify-content: space-evenly;
  padding: 20px 0px;
} 

.btn-tilt {
  transition: transform 300ms;
}

.btn-tilt:hover {
  transform: rotate(5deg);
  transform-origin: left top;
}

.figure-caption {
  padding: 10px 0 0 0;
  font-size: 75%;
  color: #6c757d;
}
/* 
.card-caption {
  display: flex;
  align-items: flex-end;
  height:100%;
} */